$primary-color: #228dff;
$secondary-color: #6c757d;
$font-size-base: 16px;
$font-color: #fff;
$black-font-color: #000;
$background-color: linear-gradient(172deg, rgba(2,0,36,1) 10%, rgba(2,14,43,1) 53%, rgba(77,128,214,1) 100%);

